---
import "../components/GlobalStyles.astro";
---

<html lang="en">
  <head>
    <base href={`${import.meta.env.BASE_URL}/documentation`} />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <slot />
  </body>
</html>
